/* global */

body {
  margin: 0px;
  padding-top: 40px;
  height: 886px;
}

/* main */
.main {
  height: 886px;
  width: 51vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 3fr;
  column-gap: 1vw;
}

/* left container */

.left {
  max-width: 300px;
}

.leftChild {
  /* border: 4px solid black; */
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 6px;
}

.leftChild img {
  width: 44.8px;
  height: 44.8px;
  min-width: 44.8px;
  border-radius: 5px;
  object-fit: cover;
}
.leftChild h4 {
  margin: 0;
  font-weight: 400;
  padding-left: 6px;
  overflow: hidden;
  white-space: nowrap;
  font-size: 17px;
}

/* right container */

.rightChild {
  grid-column: 2/3;
  border-radius: 5px;
}

.rightChildImage {
  width: 100%;
  height: 80%;
}

.rightChild img {
  border-radius: 5px;
  object-fit: cover;
  width: 34vw;
  height: 88vh;
}
.rightChild h4 {
  margin: 0px;
  font-weight: 400;
  text-align: center;
  font-size: 22px;
}
